%h1 Memos
- @memos.each do |memo|
  = memo.name
  = memo.content
  = link_to 'Show', user_memo_path(current_user, memo), class: "button"
  %br
= link_to new_user_memo_path(current_user.id), class: 'glyph' do
  %float.glyphicon.glyphicon-plus
  %float Memo