%h1 Memos
- @memos.each do |memo|
  .btn.btn-default
    = link_to user_memo_path(current_user, memo) do
      = memo.name
  %br
= link_to new_user_memo_path(current_user.id), class: 'glyph' do
  %float.glyphicon.glyphicon-plus
  %float Memo