%h1 Memo
%h4
  Name: #{@memo.name}
  %br
  Description: #{@memo.content}
  %br
  = link_to edit_user_memo_path(current_user, @memo) do
    %span.glyphicon.glyphicon-edit{class: 'glyph'}
  = link_to user_memo_path(current_user, @memo), method: :delete do
    %span.glyphicon.glyphicon-trash{class: 'glyph'}