%h1 Events
- @events.each do |event|
  .btn.btn-default
    = link_to user_event_path(current_user, event) do
      = event.name
  %br
= link_to new_user_event_path(current_user.id), class: 'glyph' do
  %float.glyphicon.glyphicon-plus
  %float Event
%br