// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  background-color: #CCC;
}
.button {
  border-radius: 20%;
  border-bottom: 2px solid blue;
  border-top: 2px solid blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  background-color: blue;
}
.body-content-style {
  background-color: red;
  text-align: center;
  margin-top: 70px;
}
.sidebar-style {
  background-color: blue;
}