// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  background-color: #BEBFCC;
}
.body-content-style {
  text-align: center;
  margin-top: 70px;
}
.sidebar-style {
  position: absolute;
  text-align: center;
  left: 0;
  background-color: #A8AEBF;
  height: 100%;
  border-right: 1px solid white;
}
.todo-style {
  position: absolute;
  background-color: #E3D588;
  text-align: center;
  left: 0;
  bottom: 0;
  height: 19%;
}
body {
  background-color: #A7AACC;
}
.glyph {
  color: black;
}
.glyph:hover {
  color: #000EAD;
}
h1 {
  color: #5A6496;
}
dropdown-menu {
  text-align: center;
}